@page "{handler?}"
@using System.Security.Claims
@using Microsoft.Extensions.DependencyInjection
@ViewData["Title"] = "GetAllItems"
@model Absence.Pages.ShopModel

<h1>Shop</h1>
<br />
<div class="row">
    <div class="col-4"><h5>Search Name</h5></div>
    <div class="col-4"><h5>Filter Price</h5></div>
    <div class="col-4"></div>
</div>
<div class="row">
    <div class="col-4">
        <form method="post" class="form-inline">
            <input asp-for="@Model.SearchString" class="form-control mr-1" placeholder="Enter search term" />
            <input type="submit" asp-page-handler="NameSearch" value="Search" class="btn btn-primary" />
        </form>
    </div>

    <div class="col-4">
        <form method="post" class="form-inline">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Min</span>
                </div>
                <input asp-for="@Model.MinPrice" class="form-control mr-1" />

                <div class="input-group-prepend">
                    <span class="input-group-text">Max</span>
                </div>
                <input asp-for="@Model.MaxPrice" class="form-control mr-1" />
                <input type="submit" asp-page-handler="PriceFilter" value="Filter" class="btn btn-primary" />
            </div>
        </form>
    </div>

    <div class="col-2"></div>
</div>
<br />
<table class="table table-bordered table-hover table-striped" width="60%">
    <col style="width: 5%">
    <col style="width: 77%">
    <col style="width: 9%">
    <col style="width: 9%">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Price
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @if (@Model.Items != null)
        {
            foreach (var item in Model.Items)
            {
                <tr>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Price
                    </td>
                    <td>
                        <!-- Call to action buttons -->
                        <ul class="list-inline m-0">
                            <li class="list-inline-item">
                                <a class="btn btn-primary btn-sm" type="button" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-cart-plus"></i></a>
                            </li>
                        </ul> <br>
                        <ul class="list-inline m-0">
                            <li class="list-inline-item">
                                <a class="btn btn-primary btn-sm" type="button" data-toggle="tooltip" title="Edit" asp-page="EditItem" asp-route-id="@item.Id"><i class="fa fa-edit"></i></a>
                            </li>
                            <li class="list-inline-item ">
                                <a class="btn btn-danger btn-sm " type="button" data-toggle="tooltip" data-placement="top" title="Delete" asp-page="DeleteItem" asp-route-id="@item.Id"><i class="fa fa-trash"></i></a>
                            </li>
                        </ul>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<br />
<p>
    <a class="btn btn-primary" data-toggle="tooltip" title="Add Item" asp-page="CreateItem"><i class="fa fa-plus-square mr-1"></i> Create a new Item </a>
</p>
<br />

